# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Ezteven blog
email: ezteven@outlok.com
description: >- # this means to ignore newlines until "baseurl:"
  Me gusta ver el mundo desde otras perspectivas
logo: /assets/icons/blog.ezteven.com.png
facebook_username: eztevenblog
instagram_username: eztevenblog
twitter_username: EztevenBlog
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: eztevenblog
github_username:  ""
google_analytics: UA-121844997-1
# Build settings
markdown: kramdown
theme: jekyll-theme-cayman-blog
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag
  - jemoji
  - jekyll-paginate-v2
algolia:
    application_id: PW3NQ2E296
    index_name: ezteven_blog
    search_only_api_key: 804f8616e8041fa89a9f59194d021ba9
    settings:
        attributesForFaceting:
            - lang
defaults:
    -
        scope:
            path: ""
        values:
            author: esteban_quezada
            ads: true
    -
        scope:
            path: ""
            type: "posts"
        values:
            layout: "post"
            ads: true
            comments: true
# Author details.
author:
    name: Esteban Quezada
    email: esteban.lds@outlook.com
    web: http://twitter.com/quezadaesteban
pagination:
    enabled: true
    title: :title
    collection: posts
    per_page: 10
    permalink: /page/:num/
    sort_reverse: true
# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
