<footer>
  <div class="flex flex-column">
    <div class="flex flex-center">
      <a href="/" class="es">es</a>&nbsp;·&nbsp;
      <a href="/pt/" class="pt">pt</a>&nbsp;·&nbsp;
      <a href="/en/" class="en">en</a>
    </div>
    <div class="flex flex-center">
      <a href="{{ site.url }}{{ site.data.i18n.url_prefix[page.locale] }}">{{ site.data.i18n.inicio[page.locale] }}</a>&nbsp;|&nbsp;
      <a href="{{ site.data.i18n.url_prefix[page.locale] }}/about/">{{ site.data.i18n.acerca_de[page.locale] }}</a>&nbsp;|&nbsp;
      <a href="{{ site.data.i18n.url_prefix[page.locale] }}/privacypolicy/">Privacy Policy</a>
    </div>
    <div class="flex flex-center">
      <a href="{{ site.url }}{{ site.data.i18n.url_prefix[page.locale] }}">{{ site.data.i18n.title[page.locale] }}</a>&nbsp;&#169;&nbsp;<span id="year"></span>
    </div>
  </div>
</footer>
